*{
    margin: 0;
    padding: 0;
}


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: auto;
    height: 8rem;
    border-bottom: 10px solid rgb(110, 4, 110);

}

.logo {
    margin: 0px 0px 10px 0px;
    width: auto;
    height: 145px;
    cursor: pointer;
}

.logo:hover {
    transition: 0.3s;
    width: auto;
    padding: 5px;
    height: 145px;
}

.logoMain {
    display: flex;
    align-items: center;
    
}

.mainMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 80px;
    cursor: pointer;
    margin: 0px 15rem 0px 0px;
}

.links {
    margin: none;
    padding: 2px;
    text-decoration:none;
    color: rgb(167, 10, 167);
    border-radius: 5px;
    height: 50px;
}

.links , .iconMenu {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 7px;   
}

.iconMenu {
    width: 40px;
    height: auto;
}

.boxLinks:hover {
    outline: 1px solid rgb(167, 10, 167);
    transition: 0.5s;
}

.links:hover {
    border-radius: 5px;
    transition: 0.5s;
    color: rgb(110, 4, 110);
}

.cartNumber {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(167, 10, 167);
    gap: 5px;
    margin: 0px 30px 0px 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.cartNumber:hover {
    padding: none;
    outline: 1px solid rgb(167, 10, 167);
    border-radius: 5px;
}

.cart:hover {
    transition: 0.3s;
    color: rgb(110, 4, 110);
}

