
.boxCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    width: 100%;
    height: auto;
    margin-left: none;
    outline: 2px solid rgb(167, 10, 167);
    border-radius: 0px 0px 15px 15px;
    cursor: pointer;
}

.btnCount {
    display: inline;
    width: 50px;
    height: 60px;
    background-color: rgb(167, 10, 167);
    border: 1px solid gainsboro;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    margin: 20px;
}

.btnCount:hover {
    color: white;
    background-color: rgb(110, 4, 110);
}



.numberCount {
    display: inline;
    width: auto;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.boxBtnAdd {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 13px;
    padding-top: none;
    margin-top: none;
    border-top: none;
}

.boxCountStyle:hover .boxBtnAdd:hover {
    outline: 1px solid black;
    border-radius: 0px 0px 15px 15px;
    cursor: pointer;
    transition: 0.5;
}

.btnAdd {
    background-color: rgb(167, 10, 167);
    border: none;
    color: white;
    padding: 3px;
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
}
